.heading{
    font-size: 22px;
    color: #5072A7;
    margin: 15px;
}

.inputbtn{
    font-size: 20px;
    background: #5072A7;
    margin: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    border: none;

}
.placeholder{
    border: none;
}

.container{

border: 2px solid #5072A7;
height: 50vh;
width: 30vw;
margin: 60px;
}

.wrapper{

border: 2px solid #5072A7;
height: 50vh;
width: 30vw;
margin: 60px;
}